.filter {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
}

.itemGrid {
    background-color: rgb(248, 239, 239);
    border-radius: 30px;
    border-color: black;
    padding: 10px;
    margin: 10px;
}

.demoImage {
    width: 50%;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey border */
  border-top: 4px solid #3498db; /* Blue top border for the moving part */
  border-radius: 50%; /* Makes it a circle */
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite; /* Apply the animation */
  align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Start at 0 degrees rotation */
  }
  100% {
    transform: rotate(360deg); /* Rotate to 360 degrees */
  }
}

@media (max-width:768px) {
    .resultDisplay {
        display: grid;
        grid-template-columns: auto;
    }
}

@media only screen and (min-width:992px) {
    .resultDisplay {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}