.filter {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
}

@media (max-width:760px) {
    .resultDisplay {
        display: grid;
        grid-template-columns: auto;
        
    }
}