.filter {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
}

@media (max-width:768px) {
    .resultDisplay {
        display: grid;
        grid-template-columns: auto;
        
    }
}

@media only screen and (min-width:992px) {
    .resultDisplay {
        display: grid;
        grid-template-columns: auto auto;
    }
}